# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside

# User-specific Xcode settings
xcuserdata/
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/
